{% extends "base.html" %}

{% block content %}

<div class="max-w-7xl mx-auto px-4 py-10">

<h1 class="text-2xl font-bold mb-8">
{{ category.name }}
</h1>

<div class="grid grid-cols-2 md:grid-cols-4 gap-6">

{% for product in products %}

<div class="border rounded shadow-sm hover:shadow-md p-3">

<a href="{% url 'catalog:product_detail' product.slug %}">

{% if product.image %}
<img src="{{product.image.url}}" class="w-full h-56 object-cover rounded">
{% else %}
<img src="https://picsum.photos/seed/{{product.slug}}/400/400">
{% endif %}

<h4 class="mt-2 font-semibold">
{{product.name}}
</h4>

<p class="text-pink-600 font-bold">
{{product.price}} ৳
</p>

</a>

</div>

{% endfor %}

</div>

</div>

{% endblock %}